token = '' Get Your own token using https://developer.themoviedb.org/
baseUrl = '' Get Your own Consumet URL using https://docs.consumet.org/
movieUrl = '' Get Movie Base URL https://developer.themoviedb.org/
imageUrl = '' Get Image URL using https://developer.themoviedb.org/